.loginComponentMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #353a4e;
}

.fields {
    /*padding-top: 5vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw;
}

.text {
    width: 25vw;
    color: #fff!important;
    background-color: #282c34!important;
    /*padding-top: 4vh;*/
}

.titleLoginPage {
    font-size: 5vh;
    /*font-weight: bold;*/
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    padding: 0 0 2vh 0;
}

.smallLoginTitle {
    font-size: xx-large!important;
    opacity: .5;
}

.loginFormContainer {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d465c;
}

.inputClassStyle {
    background-color: #282c34!important;
    color: #fff!important;
}

.loginComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: whitesmoke;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

.switchSign {
    padding: 4vh 0 0 0;
}

.signBtn {
    margin-top: 8vh;
}

.headingTitle span {
    padding-top: 8vh;
    padding-left: 18vh;
    font-family: MullerBold, sans-serif;
    font-size: 5em;
}

/*for SM*/
@media screen and (max-width: 959px) {
    .lg {
        display: none;
    }

    .sm {
        display: inline;
    }

    .headingTitle span {
        padding-left: 4vh;
        font-size: 3em;
    }
}


/*for XS*/
@media screen and (max-width: 599px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
