.sideList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    background-color: #3d465c;
    box-shadow: 2px 2px 7px rgba(98, 163, 238, 0.63);
    height: 100%;
}

.listBtn div span{
    font-family: Roboto, sans-serif;
    font-size: 1.3em;
    color: #fa7564;
}

.listBtn img{
    height: 20px;
    opacity: .6;
}

.subTitle {
    font-size: 1.6em;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #fa7564;
}

@media screen and (max-width: 959px) {
}

/*for XS*/
@media screen and (max-width: 599px) {
}

/*for XS*/
@media screen and (max-width: 599px) {
    .menu {
        display: block;
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .menu {
        display: block;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

