.messagesComponentMainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.myMessageMainDiv {
    justify-content: flex-end!important;
}

.herMessageMainDiv {
    justify-content: flex-start!important;
}

.messageContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 1vw;
    max-width: 60%;
}

.messageContent {
    font-family: MullerLight, sans-serif;
    font-size: small;
    font-weight: normal;
}

.messageOverRide {
    padding: 0!important;
    font-size: small!important;
    font-weight: bold!important;
    opacity: .8!important;
    font-family: MullerLight, sans-serif;
}

.senderAvatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
}

.fillerDivAvatar {
    height: 5vh;
    width: 5vh;
}


/*for XS*/
@media screen and (max-width: 599px) {

}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {

}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {

}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}
