.mainTitle {
    color: whitesmoke;
    font-size: large;
}

.mainSpacer {
    height: 80px;
}

.avatarHeaderPicture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerMaxWidth {
    width: 95vw!important;
    /*max-height: 80px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3d465c;
}

.headerAvBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    background-color: white;
}

.menu {
    display: none;
}

/*for XS*/
@media screen and (max-width: 599px) {
    .menu {
        display: block;
    }

    .showOnDashboard {
        display: block!important;
    }

    .hideLogo {
        display: none;
    }

    .logoButton {
        width: 20vw;
        height: 8vw;
        /*height: 6vh;*/
    }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
    .menu {
        display: block;
    }

    .hideLogo {
        display: none;
    }

    .showOnDashboard {
        display: block!important;
    }

    .logoButton {
        height: 6vh;
    }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .logoButton {
        width: 10vw;
        height: 3vw;
    }
}

