body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button span {
  /*font-family: MullerBold, sans-serif;*/
  text-transform: none;
  /*font-size: 1.2em;*/
}

.shadow {
  box-shadow: 2px 2px 7px #fa7564;
  border-radius: 5px;
}

.mainViewSubPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
}

a {
  text-decoration: none;
  color: inherit;
}

.mainSmallComponent {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 2vh;
  background-color: #353a4e;
}

.listsPageTitle {
  color: #62a3ee;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}


/*for XS*/
@media screen and (max-width: 599px) {
  .mainSmallComponent {
    flex-direction: column;
  }
}

/*for SM*/
@media screen and (min-width: 600px) and (max-width: 959px) {
  .mainSmallComponent {
    flex-direction: column;
  }
}

/*for MD*/
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

/*for LG*/
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*for XL*/
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

